.DS_store
.sonar
sonar*.*
.idea
.metadata
Servers/
*/target/
*/.settings/
*/.classpath/
*/.project/
*.class
*.iml
.idea//target/
/.settings
/.classpath
/.project
target/
*.iml
/terminal-company/.classpath
/terminal-company/.project
